<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI Assessment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
       
        <link rel="stylesheet" type="text/css" href="css/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/css/animate-custom.css" />
</head>
<body>
    <div class="container">
        <header style="width: 74%;">
            <h1>AI ASSESSMENT</h1>    
        </header>
        <section>
            <div id="container_demo" >
                <a class="hiddenanchor" id="toquestion1"></a>
                <a class="hiddenanchor" id="toquestion2"></a>
                <a class="hiddenanchor" id="toquestion3"></a>
                <a class="hiddenanchor" id="toquestion4"></a>
                <a class="hiddenanchor" id="toquestion5"></a>
                <a class="hiddenanchor" id="toquestion6"></a>
                <a class="hiddenanchor" id="toquestion7"></a>
                <a class="hiddenanchor" id="toquestion8"></a>
                <a class="hiddenanchor" id="toquestion9"></a>
                <a class="hiddenanchor" id="toquestion10"></a>
                <a class="hiddenanchor" id="toquestion11"></a>
                <a class="hiddenanchor" id="toquestion12"></a>
                <a class="hiddenanchor" id="toquestion13"></a>
                <a class="hiddenanchor" id="toquestion14"></a>
                <a class="hiddenanchor" id="toquestion15"></a>
                <a class="hiddenanchor" id="toquestion16"></a>
                <a class="hiddenanchor" id="toquestion17"></a>
                <a class="hiddenanchor" id="toquestion18"></a>
                <a class="hiddenanchor" id="toquestion19"></a>
                <a class="hiddenanchor" id="toquestion20"></a>
                <a class="hiddenanchor" id="toquestion21"></a>
                <a class="hiddenanchor" id="toquestion22"></a>
                <a class="hiddenanchor" id="toquestion23"></a>
                <a class="hiddenanchor" id="toquestion24"></a>
                <a class="hiddenanchor" id="toquestion25"></a>
                  
                <div id="wrapper">
                    <div id="question1" class="animate form">

                        <form action="" autocomplete="on">
                            <h1>Question 1</h1>
                            <p>ਪਾਈਥਨ ਨੂੰ ਪਹਿਲੀ ਵਾਰ ਕਦੋਂ ਜਾਰੀ ਕੀਤਾ ਗਿਆ ਸੀ?</p>
                            <audio autoplay  controls id="audio1">
                                <source src="pun1.mp3" type="audio/mp3">
                            </audio><br>
                            <br class="radios">
                             <input type="radio" name="option" value="1980">1980</br></br>
                             <input type="radio" name="option" value="1995">1995</br></br>
                             <input type="radio" name="option" value="1991">1991</br></br>
                             <input type="radio" name="option" value="1999">1999</br></br>              
                             <p class="change_link">								
                                <a  href="" class="to_register" onclick="submit1()" id="q1">SUBMIT</a>										
                            </p>
                        </form>
                       
                           
                    </div>
                    <div id="question2" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 2</h1> 
                            <p>ਪਾਈਥਨ ਪ੍ਰੋਗਰਾਮਿੰਗ ਭਾਸ਼ਾ ਕਿਸਨੇ ਬਣਾਈ?</p>
                            <audio controls id="audio2">
                                <source src="pun2.mp3" type="audio/mp3">
                            </audio>
                            <br class="radios">
                             <input type="radio" name="option" value="James Gosling">ਜੇਮਜ਼ ਗੋਸਲਿੰਗ</br></br>
                             <input type="radio" name="option" value="Denis Ritchie">ਡੈਨਿਸ ਰਿਚੀ</br></br>
                             <input type="radio" name="option" value="Bjarne Stroustrup">ਬਜਰਨੇ ਸਟਰੌਸਟ੍ਰਪ</br></br>
                             <input type="radio" name="option" value="Guido Van Rossum">ਗਾਈਡੋ ਵੈਨ ਰੋਸਮ</br></br>              
                             <p class="change_link">
                                <a href="#" class="to_register" onclick="back2()">BACK</a>								
                                <a  href="" class="to_register" onclick="submit2()" id="q2">SUBMIT</a>
                                
                            </p>                           
                        </form>
                        
                    </div>
                    <div id="question3" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 3</h1> 
                            <p>Artificial Intelligence is __________</p>
                            <audio  controls id="audio3">
                                <source src="mp3\q3.mp3" type="audio/mp3">
                            </audio>
                            <br class="radios">
                             <input type="radio" name="option" value="a">the embodiment of human intellectual capabilities within a computer</br>
                             <input type="radio" name="option" value="b">a set of computer programs that produce output that would be considered to reflect intelligence if it were generated by humans</br>
                             <input type="radio" name="option" value="c">the study of mental faculties through the use of mental models implemented on a computer</br>
                             <input type="radio" name="option" value="d">all of the mentioned             
                             <p class="change_link">
                                <a href="#toquestion1" class="to_register" onclick="back3()">BACK</a>								
                                <a href="" class="to_register" onclick="submit3()" id="q3">SUBMIT</a>
                                										
                            </p>
                           
                        </form>
                       
                    </div>
                    <div id="question4" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 4</h1> 
                            <p>The traditional way to exit and LISP system is to enter __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a" >quit</br></br>
                             <input type="radio" name="option" value="b">exit</br></br>
                             <input type="radio" name="option" value="c">bye</br></br>
                             <input type="radio" name="option" value="d">OK</br></br>              
                             <p class="change_link">
                                <a href="#toquestion2" class="to_register">BACK</a>								
                                <a  href="" class="to_register" onclick="submit4()" id="q4">SUBMIT</a>
                                									
                            </p>
                        </form>
                    </div>
                    <div id="question5" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 5</h1> 
                            <p>What is Artificial intelligence?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Putting your intelligence into Computer</br></br>
                             <input type="radio" name="option" value="b">Programming with your own intelligence</br></br>
                             <input type="radio" name="option" value="c">Making a Machine intelligent</br></br>
                             <input type="radio" name="option" value="d">Playing a Game</br></br>              
                             <p class="change_link">
                                <a href="#toquestion3" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit5()" id="q5">SUBMIT</a>
                                									
                            </p>
                        </form>
                    </div>
                    <div id="question6" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 6</h1> 
                            <p>Which is not a property of representation of knowledge?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Representational Verification</br></br>
                             <input type="radio" name="option" value="b">Representational Adequacy</br></br>
                             <input type="radio" name="option" value="c">Inferential Adequacy</br></br>
                             <input type="radio" name="option" value="d">Inferential Efficiency</br></br>              
                             <p class="change_link">
                                <a href="#toquestion4" class="to_register">BACK</a>								
                                <a href="" href="" class="to_register" onclick="submit6()" id="q6">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question7" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 7</h1> 
                            <p>A technique for determining whether a computer could or could not demonstrate the artificial Intelligence, Presently, this technique is called __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Turing Test</br></br>
                             <input type="radio" name="option" value="b">Algorithm</br></br>
                             <input type="radio" name="option" value="c">Boolean Algebra</br></br>
                             <input type="radio" name="option" value="d"> Logarithm</br></br>              
                             <p class="change_link">
                                <a href="#toquestion5" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit7()" id="q7">SUBMIT</a>
                                									
                            </p>
                        </form>
                    </div>
                    <div id="question8" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 8</h1> 
                            <p>Which approach to speech recognition avoids the problem caused by the variation in speech patterns among different speakers?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Continuous speech recognition</br></br>
                             <input type="radio" name="option" value="b">Isolated word recognition</br></br>
                             <input type="radio" name="option" value="c">Connected word recognition</br></br>
                             <input type="radio" name="option" value="d">Speaker-dependent recognition</br></br>              
                             <p class="change_link">
                                <a href="#toquestion6" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit8()" id="q8">SUBMIT</a>
                                									
                            </p>
                        </form>
                    </div>
                    <div id="question9" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 9</h1> 
                            <p>Which of the following, is a component of an expert system?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Data storage</br></br>
                             <input type="radio" name="option" value="b">Knowledge base</br></br>
                             <input type="radio" name="option" value="c">User interface design</br></br>
                             <input type="radio" name="option" value="d">All of the mentioned</br></br>              
                             <p class="change_link">
                                <a href="#toquestion7" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit9()" id="q9">SUBMIT</a>
                                									
                            </p>
                        </form>
                    </div>
                    <div id="question10" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 10</h1> 
                            <p>A computer vision technique that relies on image templates is __________<img src="images\img1.png" height="30px" width="40px"></p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">edge detection</br></br>
                             <input type="radio" name="option" value="b">binocular vision</br></br>
                             <input type="radio" name="option" value="c">model-based vision</br></br>
                             <input type="radio" name="option" value="d">robot vision</br></br>              
                             <p class="change_link">
                                <a href="#toquestion8" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit10()" id="q10">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question11" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 11</h1> 
                            <p>The function (copy-list [list])</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">returns a new list that is equal to [list] by copying the top-level element of [list]</br></br>
                             <input type="radio" name="option" value="b">returns the length of [list]</br></br>
                             <input type="radio" name="option" value="c">returns true if [list] is empty</br></br>
                             <input type="radio" name="option" value="d">all of the mentioned</br></br>              
                             <p class="change_link">
                                <a href="#toquestion9" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit11()" id="q11">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question12" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 12</h1> 
                            <p>Who is the “father” of artificial intelligence?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Fisher Ada</br></br>
                             <input type="radio" name="option" value="b">John McCarthy</br></br>
                             <input type="radio" name="option" value="c">Allen Newell</br></br>
                             <input type="radio" name="option" value="d">Alan Turning</br></br>              
                             <p class="change_link">
                                <a href="#toquestion10" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit12()" id="q12">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question13" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 13</h1> 
                            <p>)  A process that is repeated, evaluated, and refined is called __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">diagnostic</br></br>
                             <input type="radio" name="option" value="b">descriptive</br></br>
                             <input type="radio" name="option" value="c">interpretive</br></br>
                             <input type="radio" name="option" value="d">iterative</br></br>              
                             <p class="change_link">
                                <a href="#toquestion11" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit13()" id="q13">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question14" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 14</h1> 
                            <p>Visual clues that are helpful in computer vision include __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">color and motion</br></br>
                             <input type="radio" name="option" value="b">depth and texture</br></br>
                             <input type="radio" name="option" value="c">height and weight</br></br>
                             <input type="radio" name="option" value="d">color and motion, depth and texture</br></br>              
                             <p class="change_link">
                                <a href="#toquestion12" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit14()" id="q14">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question15" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 15</h1> 
                            <p>The conference that launched the AI revolution in 1956 was held at?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Dartmouth</br></br>
                             <input type="radio" name="option" value="b">Harvard</br></br>
                             <input type="radio" name="option" value="c">New York</br></br>
                             <input type="radio" name="option" value="d">Stanford</br></br>              
                             <p class="change_link">
                                <a href="#toquestion13" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit15()" id="q15">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question16" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 16</h1> 
                            <p>One method of programming a computer to exhibit human intelligence is called modeling or __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">simulation</br></br>
                             <input type="radio" name="option" value="b">cognitization</br></br>
                             <input type="radio" name="option" value="c">duplication</br></br>
                             <input type="radio" name="option" value="d">psychic amelioration</br></br>              
                             <p class="change_link">
                                <a href="#toquestion14" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit16()" id="q16">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question17" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 17</h1> 
                            <p>Which of the following is being investigated as a means of automating the creation of a knowledge base?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">automatic knowledge acquisition</br></br>
                             <input type="radio" name="option" value="b">simpler tools</br></br>
                             <input type="radio" name="option" value="c">discovery of new concepts</br></br>
                             <input type="radio" name="option" value="d">all of the mentioned</br></br>              
                             <p class="change_link">
                                <a href="#toquestion15" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit17()" id="q17">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question18" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 18</h1> 
                            <p>A natural language generation program must decide __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">why it is being used</br></br>
                             <input type="radio" name="option" value="b">when to say something</br></br>
                             <input type="radio" name="option" value="c">what to say </br></br>
                             <input type="radio" name="option" value="d">both what to say & when to say something</br></br>              
                             <p class="change_link">
                                <a href="#toquestion16" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit18()" id="q18">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question19" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 19</h1> 
                            <p>The hardware features of AI machines generally include __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">large memory and a high-speed processor</br></br>
                             <input type="radio" name="option" value="b">large memory and a high-speed processor & a mouse and a specialized keyboard</br></br>
                             <input type="radio" name="option" value="c">a mouse and a specialized keyboard</br></br>
                             <input type="radio" name="option" value="d">letter-quality printers and 8-inch disk drives </br></br>              
                             <p class="change_link">
                                <a href="#toquestion17" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit19()" id="q19">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question20" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 20</h1> 
                            <p>When talking to a speech recognition program, the program divides each second of your speech into 100 separate __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Codes</br></br>
                             <input type="radio" name="option" value="b">Phonemes</br></br>
                             <input type="radio" name="option" value="c">Samples</br></br>
                             <input type="radio" name="option" value="d">Words</br></br>              
                             <p class="change_link">
                                <a href="#toquestion18" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit20()" id="q20">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question21" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 21</h1> 
                            <p>Which term is used for describing the judgmental or commonsense part of problem solving?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Heuristic</br></br>
                             <input type="radio" name="option" value="b">Critical</br></br>
                             <input type="radio" name="option" value="c">Value based</br></br>
                             <input type="radio" name="option" value="d">Analytical</br></br>              
                             <p class="change_link">
                                <a href="#toquestion19" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit21()" id="q21">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question22" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 22</h1> 
                            <p>Programming a robot by physically moving it through the trajectory you want it to follow be called __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">contact sensing control</br></br>
                             <input type="radio" name="option" value="b">continuous-path control</br></br>
                             <input type="radio" name="option" value="c">robot vision control</br></br>
                             <input type="radio" name="option" value="d">pick-and-place control</br></br>              
                             <p class="change_link">
                                <a href="#toquestion20" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit22()" id="q22">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question23" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 23</h1> 
                            <p>Which particular generation of computers is associated with artificial intelligence?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">Second</br></br>
                             <input type="radio" name="option" value="b">Fourth</br></br>
                             <input type="radio" name="option" value="c">Fifth</br></br>
                             <input type="radio" name="option" value="d">Third</br></br>              
                             <p class="change_link">
                                <a href="#toquestion21" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit23()" id="q23">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question24" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 24</h1> 
                            <p>The symbols used in describing the syntax of a programming language are __________</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">0</br></br>
                             <input type="radio" name="option" value="b">{}</br></br>
                             <input type="radio" name="option" value="c">""</br></br>
                             <input type="radio" name="option" value="d">< ></br></br>              
                             <p class="change_link">
                                <a href="#toquestion22" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit24()" id="q24">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question25" class="animate form">
                        <form action="" autocomplete="on">
                            <h1>Question 25</h1> 
                            <p>What is Machine learning?</p>
                            <br class="radios">
                             <input type="radio" name="option" value="a">The autonomous acquisition of knowledge through the use of computer programs</br></br>
                             <input type="radio" name="option" value="b">The autonomous acquisition of knowledge through the use of manual programs</br></br>
                             <input type="radio" name="option" value="c">The selective acquisition of knowledge through the use of computer programs</br></br>
                             <input type="radio" name="option" value="d">The selective acquisition of knowledge through the use of manual programs</br></br>              
                             <p class="change_link">
                                <a href="#toquestion23" class="to_register">BACK</a>								
                                <a href="" class="to_register" onclick="submit25()" id="q25">SUBMIT</a>
                                										
                            </p>
                        </form>
                    </div>
                    <div id="question26" class="animate form">
                        <form action="" autocomplete="off">
                            <h1>Congratulations </h1> 
                            <p>Your Assessment Grade is</p>
                           <br>
                            <input type="text" id="grade1" name="grade" placeholder="Click on show grade...">  
                            <br><br><br><br><br><br>

                             <p class="footer">								
                                <a href="" class="to_register" onclick="submit26()" id="q26">SHOW GRADE</a>
                                <a href="" class="to_register" onclick="win_close()">CANCEL</a>										
                             </p>
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</body>


<script type="text/javascript">   

 var attempt1= attempt2= attempt3=attempt4= attempt5= attempt6= attempt7=attempt8= attempt9= attempt10=attempt11=attempt12=attempt13=attempt14=attempt15=attempt16=attempt17=attempt18=attempt19=attempt20=attempt21=attempt22=attempt23=attempt24=attempt25=5;
 var total1=total2=total3=total4=total5=total6=total7=total8=total9=total10=total11=total12=total13=total14=total15=total16=total17=total18=total19=total20=total21=total22=total23=total24=total25=0;
 var total=0;

 function submit1()
 {  
      attempt1=attempt1-1;
      var ans=document.getElementsByName("option");
        for(i=0;i<ans.length;i++)
        { 
            if(ans[i].checked==true)
            {
                x=ans[i].value;
                if(x=="1991")
                {   
                    total1=attempt1;
                    document.getElementById("q1").href = "#toquestion1";
        
                }
            else
                {
                    document.getElementById("q1").href = "#";
                    total1=attempt1;  
                              
                 } 
            }    
        }  
                            
 }

function back2()
{
    var audio1=document.getElementById("audio1");
    audio1.play();
    var audio2=document.getElementById("audio2");
    audio2.pause();
}


 function submit2()
 {  
    attempt2=attempt2-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="Guido Van Rossum")
            {       
                total2=attempt2;
                document.getElementById("q2").href = "#toquestion2";
                var source =document.getElementById("audio3");
                var audio2=document.getElementById("audio2");
                source.play();
                audio2.pause();
            }
        
        
            else{
               
                document.getElementById("q2").href = "#toquestion1";
                total2=attempt2;
                
            }
        }
        
    }
    
 }

function back3()
{
   var audio2=document.getElementById("audio2");
   var audio3=document.getElementById("audio3");
   audio3.pause();
   audio2.play();
}

function submit3()
{    
   
    attempt3=attempt3-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total3=attempt3;
                document.getElementById("q3").href = "#toquestion3";
                var audio2=document.getElementById("audio3");
                audio2.pause();
            }
        
            else{
                
                document.getElementById("q3").href = "#toquestion2";
                total3=attempt3;
                
            }
        }
    }
   
 }

  

 function submit4()
 {       
    attempt4=attempt4-1; 
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="b")
            {
               
                total4=attempt4;
                document.getElementById("q4").href = "#toquestion4";
            }
        
            else{
                
                document.getElementById("q4").href = "#toquestion3";
                total4=attempt4;
            }
        }
    }
    
 }
 
   
 function submit5()
 {   
    attempt5=attempt5-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="c")
            {
               
                total5=attempt5;
                document.getElementById("q5").href = "#toquestion5";
            }
        
            else{
                
                document.getElementById("q5").href = "#toquestion4";
                total5=attempt5;
            }
        }
    }
    
 }

    

 function submit6()
 {     
    attempt6=attempt6-1;  
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total6=attempt6;
                document.getElementById("q6").href = "#toquestion6";
            }
        
            else{
               
                document.getElementById("q6").href = "#toquestion5";
                total6=attempt6;
            }
        }
    }
    
 }

   
 function submit7()
 {     
    attempt7=attempt7-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total7=attempt7;
                document.getElementById("q7").href = "#toquestion7";
            }
        
            else{
                
                document.getElementById("q7").href = "#toquestion6";
                total7=attempt7;
            }
        }
    }
    
 }
 
    
 function submit8()
 {     
    attempt8=attempt8-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="d")
            {
               
                total8=attempt8;
                document.getElementById("q8").href = "#toquestion8";
            }
        
            else{
                
                document.getElementById("q8").href = "#toquestion7";
                total8=attempt8;
            }
        }
    }
    
 }

   
 function submit9()
 {     
    attempt9=attempt9-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="b")
            {
                
                total9=attempt9;
                document.getElementById("q9").href = "#toquestion9";
            }
        
            else{
               
                document.getElementById("q9").href = "#toquestion8";
                total9=attempt9;
            }
        }
    }
    
 }
 
    
 function submit10()
 {     
    attempt10=attempt10-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="c")
            {
                
                total10=attempt10;
                document.getElementById("q10").href = "#toquestion10";
            }
        
            else{
                
                document.getElementById("q10").href = "#toquestion9";
                total10=attempt10;
            }
        }
    }
    
 }
 function submit11()
 {     
    attempt11=attempt11-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total11=attempt11;
                document.getElementById("q11").href = "#toquestion11";
            }
        
            else{
                
                document.getElementById("q11").href = "#toquestion10";
                total11=attempt11;
            }
        }
    }
    
 }
 function submit12()
 {     
    attempt12=attempt12-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total12=attempt12;
                document.getElementById("q12").href = "#toquestion12";
            }
        
            else{
                
                document.getElementById("q12").href = "#toquestion11";
                total12=attempt12;
            }
        }
    }
    
 }
 function submit13()
 {     
    attempt13=attempt13-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="d")
            {
                
                total13=attempt13;
                document.getElementById("q13").href = "#toquestion13";
            }
        
            else{
                
                document.getElementById("q13").href = "#toquestion12";
                total13=attempt13;
            }
        }
    }
    
 }
 function submit14()
 {     
    attempt14=attempt14-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="d")
            {
                
                total14=attempt14;
                document.getElementById("q14").href = "#toquestion14";
            }
        
            else{
                
                document.getElementById("q14").href = "#toquestion13";
                total14=attempt14;
            }
        }
    }
    
 }
 function submit15()
 {     
    attempt15=attempt15-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total15=attempt15;
                document.getElementById("q15").href = "#toquestion15";
            }
        
            else{
                
                document.getElementById("q15").href = "#toquestion14";
                total15=attempt15;
            }
        }
    }
    
 }
 function submit16()
 {     
    attempt16=attempt16-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total16=attempt16;
                document.getElementById("q16").href = "#toquestion16";
            }
        
            else{
                
                document.getElementById("q16").href = "#toquestion15";
                total16=attempt16;
            }
        }
    }
 }
 function submit17()
 {     
    attempt17=attempt17-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="d")
            {
                
                total17=attempt17;
                document.getElementById("q17").href = "#toquestion17";
            }
        
            else{
                
                document.getElementById("q17").href = "#toquestion16";
                total17=attempt17;
            }
        }
    }
    
 }
 function submit18()
 {     
    attempt18=attempt18-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="c")
            {
                
                total18=attempt18;
                document.getElementById("q18").href = "#toquestion18";
            }
        
            else{
                
                document.getElementById("q18").href = "#toquestion17";
                total18=attempt18;
            }
        }
    }
    
 }
 function submit19()
 {     
    attempt19=attempt19-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="b")
            {
                
                total19=attempt19;
                document.getElementById("q19").href = "#toquestion19";
            }
        
            else{
                
                document.getElementById("q19").href = "#toquestion18";
                total10=attempt10;
            }
        }
    }
    
 }
 function submit20()
 {     
    attempt20=attempt20-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="c")
            {
                
                total20=attempt20;
                document.getElementById("q20").href = "#toquestion20";
            }
        
            else{
                
                document.getElementById("q20").href = "#toquestion19";
                total20=attempt20;
            }
        }
    }
    
 }
 function submit21()
 {     
    attempt21=attempt21-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total21=attempt21;
                document.getElementById("q21").href = "#toquestion21";
            }
        
            else{
                
                document.getElementById("q21").href = "#toquestion20";
                total21=attempt21;
            }
        }
    }
    
 }
 function submit22()
 {     
    attempt22=attempt22-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="b")
            {
                
                total22=attempt22;
                document.getElementById("q22").href = "#toquestion22";
            }
        
            else{
                
                document.getElementById("q22").href = "#toquestion21";
                total22=attempt22;
            }
        }
    }
    
 }
 function submit23()
 {     
    attempt23=attempt23-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="c")
            {
                
                total23=attempt23;
                document.getElementById("q23").href = "#toquestion23";
            }
        
            else{
                
                document.getElementById("q23").href = "#toquestion22";
                total23=attempt23;
            }
        }
    }
    
 }
 function submit24()
 {     
    attempt24=attempt24-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="d")
            {
                
                total24=attempt24;
                document.getElementById("q24").href = "#toquestion24";
            }
        
            else{
                
                document.getElementById("q24").href = "#toquestion23";
                total24=attempt24;
            }
        }
    }
    
 }
 function submit25()
 {     
    attempt25=attempt25-1;
    var ans=document.getElementsByName("option");
    for(i=0;i<ans.length;i++)
    { 
        if(ans[i].checked==true)
        {
            x=ans[i].value;
            if(x=="a")
            {
                
                total25=attempt25;
                document.getElementById("q25").href = "#toquestion25";
            }
        
            else{
                
                document.getElementById("q25").href = "#toquestion24";
                total25=attempt25;
            }
        }
    }
    
 }
   
 function submit26()
 {  
    document.getElementById("question1").style.opacity="";
    total=total1+total2+total3+total4+total5+total6+total7+total8+total9+total10+total11+total2+total13+total14+total15+total16+total17+total18+total19+total20+total21+total22+total23+total24+total25;
    //alert("Your total marks="+total);
   
    document.getElementById("q26").href = "#toquestion25";
   document.getElementById("grade1").value = grade();
    //alert("Your grade is" + grade);
     function grade(){
        if(total==100)
        {
           return "Exception";
        }
        else if(total>=90 && total<=99)
        {
            return "Grade A";
        }
        else if(total>=80 && total<=89)
        {
            return "Grade B";
        }
        else if(total>=70 && total<=79)
        {
            return "Grade C";
        }
        else if(total>60 && total<=69)
        {
            return "Grade D"
        }
        else
        {
            return "Grade E"
        }
    };
 }
 function win_close()
    {
        close();
    }
</script>
</html>