<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AI Assessment Tool</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">
<style>
  .btn-get-started1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    padding: 15px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: rgb(66, 117, 129);
  }
  .btn-get-started1:hover{
    color:#18d26e ;
    background-color: white;
  }
</style>
  
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">ATL Registration</a></h1><br>
       
      </div>
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <!--<ol class="carousel-indicators"></ol>-->

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container"> 
              <div class="carousel-content">            
                <a href='/school_details_atl_incharge/'"index1.html" href="#featured-services" class="btn-get-started1 scrollto">School ATL<br>Incharge</a>
                <a href="/venregweb/""vendor.html" href="#featured-services" class="btn-get-started1 scrollto">Vendor <br>Registration</a>
                <a href='/Package1/'"regi.html" href="#featured-services" class="btn-get-started1 scrollto">Lab<br>Registration</a>
				<a href="/mentorofchangeweb/""mentorofchange.html" href="#featured-services" class="btn-get-started1 scrollto">Mentor of<br>Change</a>          
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section><!-- #intro -->

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              303 MoolChand Tower Khasra No 587<br>
              Shiv mandir, Sector 22<br>
              Noida, Uttar Pradesh 201301<br>
              Phone: +91 098702 43305<br>
              Email: humanresource@codeglobal.in <br>
              <strong>Phone:</strong> +91 9098042511<br>
              <strong>Email:</strong> humanresource@codeglobal.in<br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-info">
            <h4>Social Links</h4>
            <div class="social-links">
              <a href="http://www.twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="http://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="http://www.instagram.com" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="http://www.googl-plus.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="http://www.linkedin.com" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CODE</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage-->
        
        Developed & Designed by <a href="#">CODE</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/superfish/hoverIntent.js"></script>
  <script src="/static/lib/superfish/superfish.min.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/waypoints/waypoints.min.js"></script>
  <script src="/static/lib/counterup/counterup.min.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/static/js/main.js"></script>

</body>
</html>
