<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AI Assessment Tool</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
    <style>
        .hidden_centent{
            text-align: center;
            margin: 8% 0%;
        }
        span:hover{
           /* cursor: pointer;*/
            background:brown;
            box-shadow: 0 .4rem 4rem -.5rem #e44747;        
        }
        span:hover.hidden_centent{
            display: block;
        }
       nav{
           text-align: center;
       }
       #q1, #q2,#q3,#q4{
            background: #f55b2d;
            color: white;
            font-weight: 200;
            font-size: 24px;
            padding: 7px 57px;     
            box-shadow: 1px 6px 10px 2px rgba(0,0,0,0.2);
            border-top-right-radius: 0px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 130px;
            border-bottom-right-radius: 43px;
       }
       .hidden_centent a:hover{
           background-color: #f1f1f1;
       }
       header{
           background: black;
       }
       center{
           height: 385px;
           margin-top: 92px;
       }
    </style>
</head>

<body>
   <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Session 2020-21</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
    </div>
  </header><!-- #header -->

  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <!--<ol class="carousel-indicators"></ol>-->

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container"> 
              <div class="carousel-content">               
                <a id="q1" href="quarter01.html"><b> Quarter 1 </b></a><br><br>
                <a id="q2" href="quarter02.html"><b> Quarter 2 </b></a><br><br>
                <a id="q3" href="quarter03.html"><b> Quarter 3 </b></a><br><br>
                <a id="q4" href="quarter04.html"><b> Quarter 4 </b></a><br><br>                
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section><!-- #intro -->





  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>ATL Lab</h3>
            <p>ALT, which stands for alanine transaminase, is an enzyme found mostly in the liver. An ALT test measures the amount of ALT in the blood. High levels of ALT in the blood can indicate a liver problem, even before you have signs of liver disease,
               such as jaundice, a condition that causes your skin and eyes to turn yellow.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              303 MoolChand Tower Khasra No 587<br>
              Shiv mandir, Sector 22<br>
              Noida, Uttar Pradesh 201301<br>
              Phone: +91 098702 43305<br>
              Email: humanresource@codeglobal.in <br>
              <strong>Phone:</strong> +91 9098042511<br>
              <strong>Email:</strong> humanresource@codeglobal.in<br>
            </p>
          </div>
            <div class="col-lg-3 col-md-6 footer-info">
              <h4>Social Links</h4>
              <div class="social-links">
                <a href="http://www.twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="http://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="http://www.instagram.com" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="http://www.googl-plus.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="http://www.linkedin.com" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CODE</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage-->
        
        Developed & Designed by <a href="#">CODE</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script> 
</body>
</html>